:host {
  display: block;
  overflow: hidden;
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  font-family: sans-serif;
  width: 350px;
  font-size: 10pt;
}

.bar {
  height: 5px;
  border: var(--stat-block-bar-border, 1px solid #000);
  position: relative;
  z-index: 1;
  background: var(--stat-block-bar-background);
}

:host .content-wrapper {
  border-left: 1px var(--stat-block-border-color, black) solid;
  border-right: 1px var(--stat-block-border-color, black) solid;
  padding: 0.5em;
}

:host.two-column {
  width: var(--stat-block-two-column-width, 840px);
}

:host.two-column .content-wrapper {

   -webkit-columns: var(--stat-block-two-column-column-width, 390px) 2;
      -moz-columns: var(--stat-block-two-column-column-width, 390px) 2;
           columns: var(--stat-block-two-column-column-width, 390px) 2;

   -webkit-column-gap: 40px;
      -moz-column-gap: 40px;
           column-gap: 40px;

}

:host header h1:first-child {
  font-family: serif;
  margin: 0px;
  font-size: 2em;
  font-variant: small-caps;
  color: var(--stat-block-header-color, black);
}

:host header *:nth-child(2) {
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
  margin: 0;
}

:host h2, h3, h4, h5, h6 {
  border-bottom: 1px solid;
  font-variant: small-caps;
  color: var(--stat-block-header-color, black);
  break-inside: avoid-column;
  break-after: avoid-column;
  font-size: 1.5em;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}

:host table.ability-scores  {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0;
  margin: 0.2em;
}

:host table.ability-scores th, :host table.ability-scores td {
  text-align: center;
  width: 50px;
  min-width: 50px;
  padding: 0;
  vertical-align: middle;
}

:host ol, :host ul {
  margin-top: 1em;
  padding-left: 0;
  margin-bottom: 0;
  line-spacing: 0;
}

:host ul {
  list-style-type: none;
}

:host .legendary-actions ul li {
  margin: 0;
  padding-left: 1em;
  text-indent: -1em;
}
