:host {
  display: block;
  overflow: hidden;
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
}

.bar {
  height: 5px;
  border: var(--stat-block-bar-border, 1px solid #000);
  position: relative;
  z-index: 1;
  background: var(--stat-block-bar-background);
}

::content {
  font-family: sans-serif;
  width: 350px;
  font-size: 10pt;
}

::content .content-wrapper {
  border-left: 1px var(--stat-block-border-color) solid;
  border-right: 1px var(--stat-block-border-color) solid;
  padding: 0.5em;
}

:host.two-column {
  width: var(--stat-block-two-column-width, 840px);
}

:host.two-column .content-wrapper {

   -webkit-columns: var(--stat-block-two-column-column-width, 390px) 2;
      -moz-columns: var(--stat-block-two-column-column-width, 390px) 2;
           columns: var(--stat-block-two-column-column-width, 390px) 2;

   -webkit-column-gap: 40px;
      -moz-column-gap: 40px;
           column-gap: 40px;

}

::content header h1:first-child {
  font-family: serif;
  margin: 0px;
  font-size: 2em;
  font-variant: small-caps;
  color: var(--stat-block-header-color, black);
}

::content header *:nth-child(2) {
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
  margin: 0;
}

::content h2, h3, h4, h5, h6 {
  border-bottom: 1px solid;
  font-variant: small-caps;
  color: var(--stat-block-header-color, black);
  break-inside: avoid-column;
  break-after: avoid-column;
  font-size: 1.5em;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}

::content .main-stats {
  color: var(--stat-block-header-color, black);
}

::content combat-stats {
  margin: 1em 0 1em 0;
}

::content .stat-name {
  font-weight: bold;
}

::content .main-stats p {
  margin: 0;
  padding-left: 1em;
  text-indent: -1em;
}

::content table.ability-scores  {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0;
  margin: 0.2em;
}

::content table.ability-scores th, ::content table.ability-scores td {
  text-align: center;
  width: 50px;
  min-width: 50px;
  padding: 0;
  vertical-align: middle;
}

::content .traits-and-actions .stat-name {
  font-style: italic;
}
::content special-traits p:last-of-type,
::content actions p:last-of-type,
::content reactions p:last-of-type,
::content legendary-actions p:last-of-type {
  margin-bottom: 0;
}

::content ol, ::content ul {
  margin-top: 1em;
  padding-left: 0;
  margin-bottom: 0;
  line-spacing: 0;
}

::content ul {
  list-style-type: none;
}

::content ul li {
  margin: 0;
  padding-left: 1em;
  text-indent: -1em;
}
